<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ITravel</title>
        <link rel="icon" type="image/x-icon" href="img/Project_logo.png">
        <link rel="stylesheet" href="/css/jl-styles.css">
        <link rel="stylesheet" href="/css/Login-style.css">
        <link rel="stylesheet" href="/css/nav.css">
        <link rel="stylesheet" href="/css/home.css">
    </head>
    <body>
 <header class="nav">
      <a href="/home" class="logo"><img src="img/newlogo.png" alt="" width="">ITravel</a>
        <div class="nav-links">
      
        <a href="http://localhost:8080/home" class="Home link">Home</a>
        <a href="http://localhost:8080/skills" class="Skills link">Skills</a>
        <a href="http://localhost:8080/projects" class="Project link">Project</a>
        <a href="http://localhost:8080/contact" class="Contact link">Contact</a>
     </div>   
     <div class="nav-login">
        <a href="http://localhost:8080/login" class="Login">Login</a>
     </div>
    </header>

        {{{body}}}
        <footer>
            &copy; JL - 2025
        </footer>
    </body>
</html>
