<div class="body">
<div class="home-body">
<div class="video-container"> 
    <video autoplay muted loop playsinline class="video">
    <source src="/img/ItravelV.mp4" type="video/mp4">
    Din webbläsare stöder inte video-taggen.
    </video>
    <h1 class="videoTitle">Travel. <span class="vtshare">Share.</span> Story </h1>
    <div class="videoText">
        <p> Explore the world, share your journey, and let every moment tell its story</p>
    </div>
    <div class="videobtn">
        <button class="btnv" role="button"><span class="text"> Travel to collect moments</span><span>Share them to connect hearts &#8594;</span></button>

    </div>
    </div>
    <div class="infoSection">
        <div class="infoText">
            <h2 class="infoTitle">Why choose ITravel?</h2>
            <p class="infoP">ITravel is your ultimate travel companion, designed to make your journeys unforgettable. Whether you're a seasoned explorer or a first-time traveler, our platform offers a seamless experience to plan, share, and relive your adventures. With ITravel, you can discover new destinations, connect with fellow travelers, and create a personalized travel diary that captures every moment of your journey. Join us and turn your travel dreams into reality!</p>
            <div class="infobtn">
                <a href="/about"><button class="btni" role="button"><span class="text">Who are we</span><span> &#8594;</span></button></a>
            </div>
        </div>
        <div class="infoImg">
            <img src="/img/natural-winter-illustration.jpg" alt="traveling image" class="img">
        </div>

    </div>
    <div class="mytrips">
        <h1 class="mytripstitle">Our Trips</h1>
        <div class="tripcards">
            <div class="card">
                <img src="/img/pick.jpg" alt="paris" class="cardimg">
                <div class="cardoverlay">
                    <h2 class="cardtitleoverlay">Paris</h2>
                    <p class="cardtextoverlay">The city of lights and love, where history meets romance.</p>
                    <div class="cardoverlaybg"></div>
                </div>
            </div>
                <div class="card">
                <img src="/img/pick.jpg" alt="paris" class="cardimg">
                <div class="cardoverlay">
                    <h2 class="cardtitleoverlay">Paris</h2>
                    <p class="cardtextoverlay">The city of lights and love, where history meets romance.</p>
                    <div class="cardoverlaybg"></div>
                </div>
            </div>
                        <div class="card">
                <img src="/img/pick.jpg" alt="paris" class="cardimg">
                <div class="cardoverlay">
                    <h2 class="cardtitleoverlay">Paris</h2>
                    <p class="cardtextoverlay">The city of lights and love, where history meets romance.</p>
                    <div class="cardoverlaybg"></div>
                </div>
            </div>
                                    <div class="card">
                <img src="/img/pick.jpg" alt="paris" class="cardimg">
                <div class="cardoverlay">
                    <h2 class="cardtitleoverlay">Paris</h2>
                    <p class="cardtextoverlay">The city of lights and love, where history meets romance.</p>
                    <div class="cardoverlaybg"></div>
                </div>
            </div>

                                    <div class="card">
                <img src="/img/pick.jpg" alt="paris" class="cardimg">
                <div class="cardoverlay">
                    <h2 class="cardtitleoverlay">Paris</h2>
                    <p class="cardtextoverlay">The city of lights and love, where history meets romance.</p>
                    <div class="cardoverlaybg"></div>
                </div>
            </div>
                                    <div class="card">
                <img src="/img/pick.jpg" alt="paris" class="cardimg">
                <div class="cardoverlay">
                    <h2 class="cardtitleoverlay">Paris</h2>
                    <p class="cardtextoverlay">The city of lights and love, where history meets romance.</p>
                    <div class="cardoverlaybg"></div>
                </div>
            </div>
                                    <div class="card">
                <img src="/img/pick.jpg" alt="paris" class="cardimg">
                <div class="cardoverlay">
                    <h2 class="cardtitleoverlay">Paris</h2>
                    <p class="cardtextoverlay">The city of lights and love, where history meets romance.</p>
                    <div class="cardoverlaybg"></div>
                </div>
            </div>
                                    <div class="card">
                <img src="/img/pick.jpg" alt="paris" class="cardimg">
                <div class="cardoverlay">
                    <h2 class="cardtitleoverlay">Paris</h2>
                    <p class="cardtextoverlay">The city of lights and love, where history meets romance.</p>
                    <div class="cardoverlaybg"></div>
                </div>
            </div>

                                    <div class="card">
                <img src="/img/pick.jpg" alt="paris" class="cardimg">
                <div class="cardoverlay">
                    <h2 class="cardtitleoverlay">Paris</h2>
                    <p class="cardtextoverlay">The city of lights and love, where history meets romance.</p>
                    <div class="cardoverlaybg"></div>
                </div>
            </div>
                                    <div class="card">
                <img src="/img/pick.jpg" alt="paris" class="cardimg">
                <div class="cardoverlay">
                    <h2 class="cardtitleoverlay">Paris</h2>
                    <p class="cardtextoverlay">The city of lights and love, where history meets romance.</p>
                    <div class="cardoverlaybg"></div>
                </div>
            </div>

                                    <div class="card">
                <img src="/img/pick.jpg" alt="paris" class="cardimg">
                <div class="cardoverlay">
                    <h2 class="cardtitleoverlay">Paris</h2>
                    <p class="cardtextoverlay">The city of lights and love, where history meets romance.</p>
                    <div class="cardoverlaybg"></div>
                </div>
            </div>
                                    <div class="card">
                <img src="/img/pick.jpg" alt="paris" class="cardimg">
                <div class="cardoverlay">
                    <h2 class="cardtitleoverlay">Paris</h2>
                    <p class="cardtextoverlay">The city of lights and love, where history meets romance.</p>
                    <div class="cardoverlaybg"></div>
                </div>
            </div>
                                    <div class="card">
                <img src="/img/pick.jpg" alt="paris" class="cardimg">
                <div class="cardoverlay">
                    <h2 class="cardtitleoverlay">Paris</h2>
                    <p class="cardtextoverlay">The city of lights and love, where history meets romance.</p>
                    <div class="cardoverlaybg"></div>
                </div>
            </div>
            

            </div>
        </div>
    </div>
</div>
<script src="home.js"></script>