<div class="body">
<div class="home-body">
<div class="video-container"> 
    <video autoplay muted loop playsinline class="video">
    <source src="/img/ItravelV.mp4" type="video/mp4">
    Din webbläsare stöder inte video-taggen.
    </video>
    <h1 class="videoTitle">Travel. <span class="vtshare">Share.</span> Story </h1>
    <div class="videoText">
        <p> Explore the world, share your journey, and let every moment tell its story</p>
    </div>
    <div class="videobtn">
        <button class="btnv" role="button"><span class="text"> Travel to collect moments</span><span>Share them to connect hearts &#8594;</span></button>

    </div>
    </div>
    
</div>
</div>