<div class="body">
<div class="home-body">
<div class="video-container"> 
    <video autoplay muted loop playsinline class="video">
    <source src="/img/ItravelV.mp4" type="video/mp4">
    Din webbläsare stöder inte video-taggen.
    </video>
    <h1 class="videoTitle">Travel. <span class="vtshare">Share.</span> Story </h1>
    <div class="videoText">
        <p> Explore the world, share your journey, and let every moment tell its story</p>
    </div>
    <div class="videobtn">
        <button class="btnv" role="button"><span class="text"> Travel to collect moments</span><span>Share them to connect hearts &#8594;</span></button>

    </div>
    </div>
    <div class="infoSection">
        <div class="infoText">
            <h2 class="infoTitle">Why choose ITravel?</h2>
            <p class="infoP">ITravel is your ultimate travel companion, designed to make your journeys unforgettable. Whether you're a seasoned explorer or a first-time traveler, our platform offers a seamless experience to plan, share, and relive your adventures. With ITravel, you can discover new destinations, connect with fellow travelers, and create a personalized travel diary that captures every moment of your journey. Join us and turn your travel dreams into reality!</p>
            <div class="infobtn">
                <a href="/about"><button class="btni" role="button"><span class="text">Who are we</span><span> &#8594;</span></button></a>
            </div>
        </div>
        <div class="infoImg">
            <!-- combine classes into a single attribute so both apply -->
            <img src="/img/bra.jpg" class="img imgi" alt="traveling image">
        </div>

    </div>
    <div class="mytrips">
        <h1 class="mytripstitle">Our Trips</h1>
        <div class="tripcards">
            <div class="card">
                <img src="/img/trips/Damcaus.jpg" alt="paris" class="cardimg">
                <div class="cardoverlay">
                    <h2 class="cardtitleoverlay">Damascus</h2>
                    <p class="cardtextoverlay">One of the world’s oldest continuously inhabited cities, with history stretching back over 11,000 years.</p>
                    <div class="cardoverlaybg"></div>
                </div>
            </div>
                <div class="card">
                <img src="/img/trips/England london.jpg" alt="paris" class="cardimg">
                <div class="cardoverlay">
                    <h2 class="cardtitleoverlay">London</h2>
                    <p class="cardtextoverlay">Home to the world’s first underground railway, the London Underground, opened in 1863.</p>
                    <div class="cardoverlaybg"></div>
                </div>
            </div>
                        <div class="card">
                <img src="/img/trips/Grecce.jpg" alt="paris" class="cardimg">
                <div class="cardoverlay">
                    <h2 class="cardtitleoverlay">Corfu</h2>
                    <p class="cardtextoverlay">Corfu is known for its stunning beaches and vibrant nightlife, making it a popular destination for travelers.</p>
                    <div class="cardoverlaybg"></div>
                </div>
            </div>
                                    <div class="card">
                <img src="/img/trips/istanbul turkey.jpg"alt="paris" class="cardimg">
                <div class="cardoverlay">
                    <h2 class="cardtitleoverlay">Istanbul</h2>
                    <p class="cardtextoverlay">The only city in the world that straddles two continents: Europe and Asia.</p>
                    <div class="cardoverlaybg"></div>
                </div>
            </div>

                                    <div class="card">
                <img src="/img/trips/Mohamed egypt.jpg" alt="paris" class="cardimg">
                <div class="cardoverlay">
                    <h2 class="cardtitleoverlay">Cairo</h2>
                    <p class="cardtextoverlay">Houses the Great Pyramid of Giza, the last surviving Ancient World Wonder.</p>
                    <div class="cardoverlaybg"></div>
                </div>
            </div>
                                    <div class="card">
                <img src="/img/trips/Spain barcolna.jpg" alt="paris" class="cardimg">
                <div class="cardoverlay">
                    <h2 class="cardtitleoverlay">Barcelona</h2>
                    <p class="cardtextoverlay">Known for Antoni Gaudí’s surreal architecture, especially the unfinished Sagrada Família.</p>
                    <div class="cardoverlaybg"></div>
                </div>
            </div>
                                    <div class="card">
                <img src="/img/trips/spain palam de mallorca.jpg" alt="paris" class="cardimg">
                <div class="cardoverlay">
                    <h2 class="cardtitleoverlay">Palma de mallorca</h2>
                    <p class="cardtextoverlay">Its Gothic cathedral, “La Seu,” reflects beautifully off the Mediterranean waters.</p>
                    <div class="cardoverlaybg"></div>
                </div>
            </div>
                                    <div class="card">
                <img src="/img/trips/Untied arab emirats dubai.jpg" alt="paris" class="cardimg">
                <div class="cardoverlay">
                    <h2 class="cardtitleoverlay">Dubai</h2>
                    <p class="cardtextoverlay">Home to the world’s tallest building, the Burj Khalifa, standing at 828 meters.</p>
                    <div class="cardoverlaybg"></div>
                </div>
            </div>

                                    <div class="card">
                <img src="/img/trips/Brindisi.jpg" alt="paris" class="cardimg">
                <div class="cardoverlay">
                    <h2 class="cardtitleoverlay">Brindisi</h2>
                    <p class="cardtextoverlay">An Italian port city known as the ancient Roman “Gateway to the East,” where the famous Appian Way ended.</p>
                    <div class="cardoverlaybg"></div>
                </div>
            </div>
                                    <div class="card">
                <img src="/img/trips/Oslo.jpg" alt="paris" class="cardimg">
                <div class="cardoverlay">
                    <h2 class="cardtitleoverlay">Oslo</h2>
                    <p class="cardtextoverlay">One of the greenest capitals in the world, surrounded by forests and fjords.</p>
                    <div class="cardoverlaybg"></div>
                </div>
            </div>

                                    <div class="card">
                <img src="/img/trips/Malmo.jpg"alt="paris" class="cardimg">
                <div class="cardoverlay">
                    <h2 class="cardtitleoverlay">Malmo</h2>
                    <p class="cardtextoverlay">Famous for its futuristic Turning Torso skyscraper, one of Scandinavia’s tallest building.</p>
                    <div class="cardoverlaybg"></div>
                </div>
            </div>
            <div class="card">
                <img src="/img/trips/paris.jpg"alt="paris" class="cardimg">
                <div class="cardoverlay">
                    <h2 class="cardtitleoverlay">Paris</h2>
                    <p class="cardtextoverlay">The city of lights and love, where history meets romance.</p>
                    <div class="cardoverlaybg"></div>
                </div>
            </div>
            

            </div>
        </div>
    </div>

    </div>

<script src="home.js"></script>