<div class="form-container">
    <form action="/MyProfile" method="get" id="loginForm">
        
        <h1 class="hed">Login</h1>
        <div class="login">
        <input type="text" name="mail" id="mail" class="t-Input" placeholder="Type your email">
        </div>
        <div class="password">
        <input type="password" name="password" id="password" class="t-Input" placeholder="Type your password">
        </div>
        <div class="submit">
        <input type="submit" value="Login" id="btnl" class="btn">
        </div>
        <div class="register">
            <p class="acc">No account? Create your account:   <a class="link" href="http://localhost:8080/register">Register</a> </p>
        </div>
    </form>
   
</div>