<div class="form-container">
    <form action="Post">
        
        <h1>Register</h1>
        <div class="login">
        <input type="text" name="name" id="name" class="t-Input" placeholder="Type your Full name">
        </div>

        <p  class="validation" id="Fnametxt">You have to use regular characters (a/z),(A/Z)</p>
        <div class="login">
        <input type="text" name="name" id="user" class="t-Input" placeholder="Type your Username">
        <p  class="validation" id="usererror">only regular letters/numbers and over 3 character</p>
        </div>
        {{!-- <p  class="validation" id="Fnametxt">You have to use regular characters (a/z),(A/Z)</p> --}}
        <div class="login">
        <input type="text" name="mail" id="mail" class="t-Input" placeholder="Type your email">
        </div>
        <p class="validation" id="mailtxt">Type the right mail format</p>
        <div class="password">
        <input type="password" name="password" id="password" class="t-Input" placeholder="Create your password">
        </div>

        <div class="dropmenu" id="dropdown">         
        <p class="dropdownitem" id="passLength"><span class="emoj">&#9679;</span> over 8 characters </p>
        <p class="dropdownitem" id="passCapital"><span class="emoj">&#9679;</span> a capital or small letter. </p>
        <p class="dropdownitem" id="passNum"><span class="emoj">&#9679;</span> att least one number. </p>
        <p class="dropdownitem" id="passSpecial"><span class="emoj">&#9679;</span> special character (!@#$%^&*)</p>
        </div>

        <div class="password">
        <input type="password" name="passwordCheck" id="passwordCheck" class="t-Input" placeholder="Retype your password">
        </div>
        <p  class="validation" id="passchecktxt">The password doesnt match</p>
        <div class="submit">
        <input type="submit" id="btn" value="Register" class="btn">
        </div>
        <div class="register">
            <p class="acc">You have an account already:   <a class="link" href="http://localhost:8080/login">Login</a> </p>
        </div>
    </form>
    </div>

    <script src="js/Validation.js"></script>
</div>  