    * {
        font-family: sans-serif;
    }


    .important {
        color:rgb(196, 168, 168);
    }


    .emptyspace {
    width: 30%
    }
    .error {
        color: orange;
        font-weight: bold;
    }