body {
    background-image: url("/img/natural-winter-illustration.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    color: white;
}
.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
}
h1 { 
    color: white;
    text-align: center;
    margin-bottom: 1rem;
    text-shadow: 0.125em 0.125em 0.3125em rgb(58, 0, 129);
    font-size: 2.5rem;
}
form {
    border: 0.125em solid rgb(58, 0, 129);
    padding: 3vw;
    padding-top: 3vw;
    border-radius: 0.625em;
    backdrop-filter: blur(5px);
    box-shadow: 0.125em 0.125em 0.625em black;
    max-width: 90vw;
    box-sizing: border-box;
}
.t-Input {
    background-color: transparent;
    border: none;
    border-bottom: 0.125em solid rgb(128, 0, 255);
    width: 80vw;
    max-width: 30em;
    color: white;
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 0.0625em;
    margin-top: 0.5em;
    margin-bottom: 1.25em;
    padding: 0.625em;
    box-sizing: border-box;
}
.t-Input:focus {
    outline: none;
    border-bottom: 0.125em solid rgb(58, 0, 129);
    transition: 200ms;
}
.t-Input::placeholder {
    color: white;
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 0.0625em;
    align-self: center;
}
.t-Input:hover {
    transition: 200ms;
    border-bottom: 0.125em solid rgb(58, 0, 129);
    box-shadow: 0 0.375em 0.10625em -0.125em rgb(58, 0, 129);
}
.btn {
    width: 100%;
    padding: 0.625em;
    background-color: rgb(58, 0, 129);
    color: white;
    font-size: 1.25em;
    font-weight: bold;
    border: none;
    border-radius: 0.3125em;
    margin: 1.25em 0    ;

}
.btn:hover {
    background-color: rgb(128, 0, 255);
    cursor: pointer;
    transition: 200ms;
    border: 0.0625em solid white;
    margin-top: 1.1875em;
}
.link {
    color: rgb(21, 0, 255);
    text-decoration: none;
    text-shadow: none;
}
.link:hover {
    text-decoration: underline;
    text-shadow: none;
}
.acc {
    text-shadow: 0.1875em 0.1875em 0.3125em rgb(0, 6, 126);
}

.validation
{   
    font-family:  Arial, sans-serif;
    text-shadow: none;
    margin: -10px 0;
    padding: 0;
    position: relative;
    top: -10px;
    color: rgb(255, 0, 0);
    font-size: 0.875em;
    z-index: -1;
    opacity: 0; 
    transition: 200ms;
    font-weight: bold;
}
.error
{
    letter-spacing: 0.05em;
        transition: 1000ms;
    opacity: 1;
    z-index: 1;
}


.dropmenu{
    position:absolute;
    width: 80vw;
    max-width: 30em;
    background-color: white  ;
    top: 54%;
    border-radius: 20px;
    border: 2px solid rgb(58, 0, 129);
    display: none;
    z-index: 3;
}
.dropdownitem{
    color: white;
    padding: 10px;
    text-decoration: none;
    display: block;
    color: rgb(255, 0, 0);
    text-shadow: none;
    letter-spacing: 1px;
    transition: 500ms;
}
.emoj{
    font-size: 1.2em;
}
.visible{
    display: block;
    transition: 500ms;
}
.green{
    color: rgb(0, 255, 0);
}







/* Optional: Add media queries for better responsiveness on small screens */
@media (max-width: 600px) {
    form {
        padding: 4vw;
        padding-top: 2vw;
    }
    .t-Input {
        width: 90vw;
        max-width: 100%;
    }
    .dropmenu{
        width: 81.5vw;
        max-width: 100%;
    }
    h1 {
        font-size: 2em;
    }
}

