body {
    background-image: url("/img/pick.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    color: white;
margin: 0;
}

.nav{
    display: flex;
    justify-content:flex-start;
    align-items:flex-start;
    padding: 2rem;
    backdrop-filter: blur(5px);
    border-bottom: 2px  solid  rgb(129, 86, 0);
}
.nav-links{
    list-style: none;
    display: flex;
    gap: 1rem;
    margin-right: auto;
}
.nav-login{
    margin-left: auto;
    list-style: none;
    display: flex;
    gap: 2rem;
}
.nav-links a, .nav-login a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    letter-spacing: 0.0625em;
    transition: 200ms;
    padding: 0.5rem 1rem;
    border-radius: 10rem;
    width: fit-content;
}
.nav-links a{
        background-color:rgb(97, 65, 0) ;
        border: 2px solid rgb(154, 103, 0);
}
.nav-links a:hover{
    background-color: rgb(154, 103, 0);
    transition: 200ms;
        text-decoration: none;

}

.nav-login a{
    border: 2px solid rgb(154, 103, 0);
}
.nav-login a:hover{
    background-color: rgb(97, 65, 0);
    transition: 200ms;
    animation: nav-login-hover 0.5s ease;
    text-decoration: none;
}
@keyframes nav-login-hover {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
 @media (max-width: 600px) {
    .nav{
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
    .nav-links{
        flex-direction: column;
        align-items: left;
        gap: 1rem;
        margin-right: auto;
        position: absolute;
    }
    .nav-login{
        align-items: center;
        gap: 1rem;
        margin-left: auto;
    }
} 
